// Color scheme
// $primary  : #1F2937 !default;
$primary  : #EB0045 !default;
// $secondary: #f0bc74 !default;
$secondary: #F9E244 !default;
// $tertiary : #31316A !default;
$tertiary : #F378C4 !default;

$quaternary : rgba(34, 170, 255, 0.75);
// $quinary    :
// $senary     :
// $septenary  :
// $octonary   :
// $nonary     :
// $denary     :


$enable-gradients : true !default;

$border-radius    : .25rem !default;

$font-family-base : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// $btn-font-weight: 600 !default;

// Shades of grey
$white   : #ffffff !default;
$gray-50:  #F9FAFB !default;
$gray-100: #F2F4F6 !default;
$gray-200: #E5E7EB !default;
$gray-300: #D1D5DB !default;
$gray-400: #9CA3AF !default;
$gray-500: #6B7280 !default;
$gray-600: #4B5563 !default;
$gray-700: #374151 !default;
$gray-800: #1F2937 !default;
$gray-900: #111827 !default;
$dark    : $gray-800 !default;
$black   : $gray-900 !default;

// $input-color       : $gray-500 !default;
$input-color       : $gray-900 !default;

// $input-font-size  : $input-btn-font-size !default;
$input-font-size  : 0.9375rem !default;

$box-shadow      : 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px 4px rgba(0, 0, 0, 0.08) !default;
$box-shadow-sm   : 0 2px 5px rgba(140, 152, 164, 0.6) !default;

$input-btn-focus-color-opacity: .25 !default;
// $component-active-bg   : $primary !default;
// $input-btn-focus-color        : rgba($component-active-bg, $input-btn-focus-color-opacity) !default;
$component-active-bg          : $primary !default;
$input-btn-focus-color        : rgba($component-active-bg, $input-btn-focus-color-opacity) !default;

$input-btn-focus-width        : .18rem !default;
// $input-btn-focus-box-shadow   : 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
$input-btn-focus-box-shadow   : 0 0 2px calc($input-btn-focus-width / 2) $input-btn-focus-color inset,
                                0 0 5px $input-btn-focus-width $input-btn-focus-color !default;


