<template>
  <div class="mb-2 fw-bolder">{{ header }}</div>
  <ag-grid-vue
    class="ag-theme-alpine h-100"
    :columnDefs="columnDefs"
    :rowData="rowData"
    :components="gridComponents"
    :accentedSort="true"
    @grid-ready="onGridReady"
    @grid-size-changed="onGridSizeChanged"
    @row-clicked="onRowClicked"
  />
</template>

<script setup lang="ts">
import { onBeforeMount, ref, defineProps, computed } from 'vue'
import store from '@/store'
import { AgGridVue } from 'ag-grid-vue3'
import * as bootstrap from 'bootstrap'
import { formatCurrency } from '@/helpers/toolbelt'
import "ag-grid-community/dist/styles/ag-grid.css"
import "ag-grid-community/dist/styles/ag-theme-alpine.css"

const props:any = defineProps({
  header: String,
  headers: {},
  storeState: {},
  onRowClicked: Function
})

const config = computed(() => store.config)

const columnDefs = computed(() => props.headers.map((header:any) => {
   
  let def = {
    headerName: header.header,
    field: header.field,
    minWidth: null,
    maxWidth: null,
    sortable: null,
    type: null,
    cellRenderer: null
  }

  if (header.minWidth) { def.minWidth = header.minWidth }
  if (header.maxWidth) { def.maxWidth = header.maxWidth }
  if (header.sortable) { def.sortable = header.sortable }
  if (header.type) { def.type = header.type }
  if (header.cellRenderer) { def.cellRenderer = header.cellRenderer}

  return def
}))

const rowData = computed(() => props.storeState)

const onGridReady = (params:any) => {
  onGridSizeChanged(params)
}

const onGridSizeChanged = (params:any) => {
  // params.columnApi.autoSizeAllColumns()
  params.api.sizeColumnsToFit()
}

const currencyCellRenderer = (params:any) => {
  return formatCurrency(store.session.i18n, params.value);
}

const priceDiscountedCellRenderer = (params:any) => {
  return formatCurrency(store.session.i18n, params.value);
}

const gridComponents = {
  currencyCellRenderer: currencyCellRenderer,
  priceDiscountedCellRenderer: priceDiscountedCellRenderer
}

const onRowClicked:any = props.onRowClicked
</script>

<style scoped>
</style>
