<template>
  <form @submit.prevent>
    <div class="d-flex flex-column align-items-center mt-5">
      <div class="form-floating mb-3">
        <input v-model="email" type="text" class="form-control" id="email" placeholder="name@domain.com">
        <label for="email">E-Mail/Benutzer</label>
      </div>
      <div class="form-floating mb-3">
        <input v-model="password" type="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Passwort</label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" @click="login">
          Anmelden
          <span v-show="loggingIn" class="ms-2 spinner-border" style="width: 1rem; height: 1rem" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    </form>

    <div v-if="loginMessage" class="mt-3 text-center">
      {{ loginMessage }}
    </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import DownloadOfferPdf  from '@/helpers/pdf'
import store from '@/store'
import Grid from './Grid.vue'

const loggingIn = ref(false)

const email = ref(null)
const password = ref(null)

const loginMessage = ref('')

async function login() {
  loggingIn.value = true
  loginMessage.value = await store.session.login({
    email: email.value,
    password: password.value
  })
  loggingIn.value = false
}
</script>

<style scoped>
</style>
