<template>
  <div class="d-flex h-75">
    <div class="col-6 col-lg-5 col-xl-4 h-100 pe-1">
      <Grid header="Produkte" :headers="store.config.headers.products" :storeState="store.products.clone" :onRowClicked="onRowClickedProducts" />
    </div>
    <div class="col-6 col-lg-7 col-xl-8 h-100 ps-1">
      <Grid header="Angebot" :headers="store.config.headers.offer" :storeState="store.offer.clone" :onRowClicked="onRowClickedOffer" />
    </div>
  </div>

  <div class="h-25 pt-5 d-flex align-items-start justify-content-center">
    <button class="btn btn-primary shadow mx-1" type="button" @click="download">
      Erstelle Angebots-PDF
      <span v-show="generatingPdf" class="ms-2 spinner-border" style="width: 1rem; height: 1rem" role="status" aria-hidden="true"></span>
    </button>

    <button class="btn btn-secondary shadow mx-1" @click="logout">
      Abmelden
    </button>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import store from '@/store'
import DownloadOfferPdf  from '@/helpers/pdf'
import Grid from './Grid.vue'
import { formatCurrency } from '@/helpers/toolbelt'

const config = computed(() => store.config)

const generatingPdf = ref(false)

function prepareOfferForPdf() {
  return store.offer.clone.map((item:any) => {
    return {
      ...item,
      price: formatCurrency(store.session.i18n, item.price),
      priceDiscounted: formatCurrency(store.session.i18n, item.priceDiscounted),
      total: formatCurrency(store.session.i18n, item.total)
    }
  })
}

async function download() {
  generatingPdf.value = true

  await DownloadOfferPdf({
    columns: config.value.headers.offer.map(({ header, field }:any) => {
      return {
        'header': header,
        'dataKey': field
      }
    }),
    body: prepareOfferForPdf()
  })

  generatingPdf.value = false
}

function logout() {
  store.session.logout()
}

const onRowClickedProducts = (params:any) => {
  let product:any = store.products.item(params.data.sku)

  store.session.setModal({
    init: true,
    data: {
      title: '(' + product.sku + ') ' + product.product,
      ...product,
      show: true,
      amount: ' ',
      priceDiscounted: product.price,
      discountPercentage: 0
    }
  })
}

const onRowClickedOffer = (params:any) => {
  store.offer.delete(params.data.sku)
}

</script>

<style scoped>
</style>
