<template>
  <div ref="modalTemplate" class="modal" :id="id" tabindex="-1" :aria-labelledby="id + 'Label'" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form @submit.prevent>
          <div class="modal-header">
            <h5 class="modal-title" id="addProductlModalLabel" v-if="title">{{ title() }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <slot />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" @click="onSubmit">Hinzufügen</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, onMounted, ref, computed, watchEffect, nextTick } from 'vue'
import * as bootstrap from 'bootstrap'

const props:any = defineProps({
  id: String,
  title: Function,
  show: Function,
  onSubmit: Function,
  onHide: Function
})

const onSubmit = () => {
  props.onSubmit()
}

let modalTemplate:any = ref()

onMounted(() => {
  modalTemplate.value.addEventListener('hidden.bs.modal', function () {
    props.onHide()
  })

  let modal = new bootstrap.Modal('#' + props.id)
  
  watchEffect(() => props.show() ? modal.show() : modal.hide())
})
</script>

<style scoped>
</style>
