<template>
  <div class="vh-100">
    <div class="bg-primary">
      <div class="d-flex flex-column ms-n3">
        <div class="mt-3 mb-3 ms-5 fw-extrabold text-gray-900">Demo - PDF Offline in Browser Offer Generation</div>
      </div>
    </div>

    <div v-if="isLoggedIn" class="p-3" style="height: calc(100vh - 100px)">
      <Main />
    </div>
    <div v-else class="p-2" style="height: calc(100vh - 100px)">
      <Login />
    </div>
  </div>

  <Modal id="modal" :show="showModal" :title="modalTitle" :onSubmit="() => { store.offer.addFromModal() }" :onHide="onHideModal">
    <FormOfferItem />
  </Modal>
</template>

<script setup lang="ts">
import { ref, computed, nextTick} from 'vue'
import store from '@/store'
import 'bootstrap'
import Main from '@/components/Main.vue'
import Login from '@/components/Login.vue'

import Modal from '@/components/bootstrap/Modal.vue'
import FormOfferItem from '@/components/forms/OfferItem.vue'

const isLoggedIn = computed(() => store.session.isLoggedIn)

const showModal = () => store.session.modal.show

const onHideModal = () => {
  store.session.setModal({
    // DODO: Check for an option/way/workaround to prevent label animations on empty fields within bootstrap inputs.
    // init: true,
    data: {
      show: false
    }
  })
}

const modalTitle = () => store.session.modal.title

// Kept this as a reminder of how sleak we got the store now.
// store.dispatch('base/initialize')
store.initialize()
</script>

<style lang="scss">
@import "@/styles/style.scss";
</style>

