<template>
    <div class="form-floating mb-3">
      <input :value="priceDisplay" disabled class="form-control" id="price" placeholder="Anzahl">
      <label for="price">Preis</label>
    </div>

    <div class="form-floating mb-3">
      <input ref="inputAmount" v-model="amount" class="form-control" id="amount" placeholder="Anzahl">
      <label for="email">Anzahl</label>
    </div>

    <div class="form-floating mb-3">
      <input v-model="discountPercentage" class="form-control" id="discountPercentage" placeholder="Anzahl">
      <label for="discountPercentage">Rabattsatz (%)</label>
    </div>

    <div class="form-floating mb-3">
      <input v-model="priceDiscounted" class="form-control" id="priceDiscounted" placeholder="Anzahl">
      <label for="price">Dein! Preis ☺️</label>
    </div>

    <div class="form-floating mb-3">
      <input v-model="total" disabled class="form-control" id="total" placeholder="Anzahl">
      <label for="price">Summe</label>
    </div>
</template>

<script setup lang="ts">
import { defineProps, onMounted, watch, ref, computed, nextTick } from 'vue'
import store from '@/store'
import { formatCurrency } from '@/helpers/toolbelt'

const product:any = computed(() => store.session.modal.sku ? store.products.item(store.session.modal.sku) : null)

const inputAmount:any = ref()

const priceDisplay = computed(() =>
  formatCurrency(store.session.i18n, product.value ? product.value.price : null)
)

const amount = computed(
{
  get: () => store.session.modal.amount,
  set: (value) => store.session.setModal({
    data: { amount: value ? Number(value) : null }
  })
})

const discountPercentage = computed(
{
  get: () => store.session.modal.discountPercentage,
  set: (value) => store.session.setModal({
    data: {
      discountPercentage: value.replace(',', '.'),
      priceDiscounted: (product.value.price - (product.value.price / 100 * value.replace(',', '.'))).toFixed(2)
    }
  })
})

const priceDiscounted = computed(
{
  get: () => store.session.modal.priceDiscounted,
  set: (value) => store.session.setModal({
    data: {
      priceDiscounted: value.replace(',', '.'),
      discountPercentage: (100 - (value.replace(',', '.') / (product.value.price / 100))).toFixed(2)
    }
  })
})

const total = computed(() =>
  formatCurrency(store.session.i18n, amount.value * priceDiscounted.value)
)

onMounted(() => {
  watch(() => store.session.modal.show, async (value, valuePrevious) => {
      await nextTick()
      inputAmount.value.focus()
    }
  )
})
</script>

<style scoped>
</style>
